<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Your Accout: <span class="member-name">{{name}}</span></h2>
            <p>Your details:</p>
            <ul>
                <li>ID: {{id}}</li>
                <li>Name: {{name}}</li>
                <li>Email: {{email}}</li>
                <li>Account Creation: {{createdAt}}</li>
            </ul>
        </div>
    </div>
</div>